.footer{
    background-color:#5c9de4;;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 100px;
    font-size: 20px;
    
    
 }

 .footer h2{
    color: black;
    margin: 10px 0px;
 }

 .footer > div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 8px;

 }

 .footer > div > a{
    color: black;
    text-decoration: none;
 }

 
 .footer button{
    height: 30px;
    width: 90px;
    background-color: rgb(2, 245, 63);
    box-shadow: 0px 0px 20px 2px #527497;
 }

 .footer button:hover{
    
    background-color:green;
 }

/* .store-container{
    gap: 20px;
} */

 .footer a{
    font-weight: 300px;
 }

 .footer a:hover{
    font-weight: bold;
 }

 

 /* @media only screen and (width<=800px){
    .footer{
        
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }
 } */